<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxwtech.roundtrip2">

    <!-- Enable BLE and set it as mandatory -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_MODELS"
            android:value="com.gxwtech.roundtrip2.HappService.Objects.Treatment,                             com.gxwtech.roundtrip2.HappService.Objects.Basal" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="pumpdriver.db" />
        <!-- Also up date AA_DB_VERSION in MainActivity onCreate -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="INSULIN_TREATMENT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".CommunicationService.CommunicationService"
            android:enabled="true"
            android:exported="true"
            android:process=":CommunicationService">
            <intent-filter>
                <action android:name="com.gxwtech.roundtrip2.IncomingService" />
            </intent-filter>
        </service>
        <service
            android:name=".RoundtripService.RoundtripService"
            android:exported="false"
            android:label="@string/roundtrip_service_name">
            <intent-filter>
                <action android:name="com.gxwtech.roundtrip2.RoundtripService" />
                <action android:name="com.gxwtech.roundtrip2.MainActivity" />
                <action android:name="com.gxwtech.roundtrip2.DeviceScanActivity" />
            </intent-filter>
        </service>

        <activity
            android:name=".HistoryActivity.HistoryPageListActivity"
            android:label="@string/title_historypage_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gxwtech.roundtrip2.MainActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity.HistoryPageDetailActivity"
            android:label="@string/title_historypage_detail"
            android:parentActivityName=".HistoryActivity.HistoryPageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HistoryActivity.HistoryPageListActivity" />
        </activity>
        <activity android:name=".TreatmentHistory" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".RileyLinkScan"
            android:label="@string/title_activity_riley_link_scan"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>